
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	display:flex;
  flex-direction:column;
  align-items:center;
  text-transform: uppercase;
  margin: 0;
}
h1{
   font-family: 'Kanit', sans-serif;
  font-weight: 600;
    color:#f9941f;
    text-align: center;
}
.tabelas{
    display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 2px;
  gap: 10px;


}
.logo{
  width: 10%;
  position: static;
}
.head{
  display: flex;
  flex-direction: column;
  align-items: center;

}
  video{
    position: absolute;
    z-index: -1;
    width: 100%;
  }

.main-container {
font-size:12px;
  font-family: 'Kanit', sans-serif;

  font-weight: 600;
  
}
*{box-sizing:border-box;}
table{
  border-collapse: collapse;

}
h3 {
  margin: 5px;
  text-align: center;
  width:260px;
  border-radius:10px;
  background-color: #8804a9;
  color: #dedfe2;
}
tr td{
  background-color: #38393d;

  border-right: 1px solid #0a0000;
  color:#f7f7f7;
}
#table td{
  background-color: #080808;
	color:#f9941f;
  border:none;
}

table tr:nth-last-child(-n+2) td:nth-child(1){  
	color:#E7615D;  
}

tbody{display:flex; flex-direction:column;}

tr{
	margin-bottom: 3px;
}
td:nth-child(1){  
	width:30px;
  text-align:center;
}

td:nth-child(2){  
	width:143px;
  	padding: 0 5px;
}

td:nth-last-child(-n+3){  
	width:70px;
  text-align:center;
}
